/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net9.0/appsettings.Development.json
/bin/Debug/net9.0/appsettings.json
/bin/Debug/net9.0/backend.deps.json
/bin/Debug/net9.0/backend.dll
/bin/Debug/net9.0/backend.exe
/bin/Debug/net9.0/backend.pdb
/bin/Debug/net9.0/backend.runtimeconfig.json
/bin/Debug/net9.0/backend.staticwebassets.endpoints.json
/bin/Debug/net9.0/Humanizer.dll
/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net9.0/Microsoft.OpenApi.dll
/bin/Debug/net9.0/Mono.TextTemplating.dll
/bin/Debug/net9.0/Npgsql.dll
/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net9.0/System.CodeDom.dll
/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/bin/Debug/net9.0/System.Composition.Convention.dll
/bin/Debug/net9.0/System.Composition.Hosting.dll
/bin/Debug/net9.0/System.Composition.Runtime.dll
/bin/Debug/net9.0/System.Composition.TypedParts.dll
/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/.idea/.idea.backend.dir/.idea/.gitignore
/.idea/.idea.backend.dir/.idea/encodings.xml
/.idea/.idea.backend.dir/.idea/git_toolbox_blame.xml
/.idea/.idea.backend.dir/.idea/indexLayout.xml
/obj/Debug/net9.0/ref/backend.dll
/obj/Debug/net9.0/refint/backend.dll
/obj/Debug/net9.0/staticwebassets/msbuild.build.backend.props
/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.backend.props
/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.backend.props
/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/backend.AssemblyInfo.cs
/obj/Debug/net9.0/backend.AssemblyInfoInputs.cache
/obj/Debug/net9.0/backend.assets.cache
/obj/Debug/net9.0/backend.csproj.AssemblyReference.cache
/obj/Debug/net9.0/backend.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/backend.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/backend.csproj.Up2Date
/obj/Debug/net9.0/backend.dll
/obj/Debug/net9.0/backend.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/backend.genruntimeconfig.cache
/obj/Debug/net9.0/backend.GlobalUsings.g.cs
/obj/Debug/net9.0/backend.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net9.0/backend.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net9.0/backend.pdb
/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/obj/Debug/net9.0/staticwebassets.build.json
/obj/backend.csproj.EntityFrameworkCore.targets
/obj/backend.csproj.nuget.dgspec.json
/obj/backend.csproj.nuget.g.props
/obj/backend.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/.idea/.idea.backend.dir/.idea/aws.xml
/.idea/.idea.backend.dir/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.backend.dir/.idea/vcs.xml
/obj/Debug/net9.0/backend.sourcelink.json
/.idea/.idea.backend.dir/.idea/git_toolbox_prj.xml
